.before-after {
  position: relative;
}

.before-after__img {
  background-repeat: no-repeat;
  background-size: cover;
}

.before-after__img--before {
  background-image: url("../img/before-mobile@1x.png");
  width: 100%;
  height: 232px;
}

.before-after__img--after {
  background-image: url("../img/after-mobile@1x.png");
  position: absolute;
  top: 0;
  visibility: hidden;
  height: 242px;
}

@media (min-width: $tablet-width) {
  .before-after__img--before {
    width: 730px;
    height: 499px;
  }
}

@media (min-width: $desktop-width) {
  .before-after__img--before {

  }
}
