.benefits-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.benefits-list__text {
  margin: 0;
}

.benefits-list__number {
  display: none;
}

.benefits-list__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;

  &:before {
    display: none;
  }
}

.benefits-list__item {
  &:before {
    content: "";
    display: block;
    background-color: $green;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.benefits-list__item--leaf {
  &:before {
    background-image: url("../img/advantage-leaf@1x.png");
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
  }
}

.benefits-list__item--eat {
  &:before {
    background-image: url("../img/advantage-dining@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.benefits-list__item--water {
  &:before {
    background-image: url("../img/advantage-powder@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.benefits-list__item--clock {
  &:before {
    background-image: url("../img/advantage-clock@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
@media (min-width: $tablet-width) {
  .benefits-list {
    counter-reset: myCounter;
  }

  .benefits-list__item {
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      width: 80px;
      height: 80px;
    }
    &:after {
      counter-increment: myCounter;
      content: counter(myCounter);
      @include o-regular;
      text-align: center;
      position: absolute;
      font-size: 281px;
      color: $bg-grey;
      top: -40px;
      left: 116px;
      line-height: 1;
      z-index: -1;
      display: block;
    }
  }

  .benefits-list__item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 131px;
    &:before {
      margin-bottom: 33px;
    }
    &:nth-child(odd) {
      margin-right: 138px;
    }
  }

  .benefits-list__text {
    width: 245px;
  }

  .benefits-list__img {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: $desktop-width) {
  .benefits-list__item {

    &:after {
      left: auto;
      right: 0;
    }
  }

  .benefits-list__item:nth-child(odd) {
    margin-right: 0;
  }

  .benefits-list {
    justify-content: space-between;
  }

  .benefits-list__item {
    width: 20%;
    align-items: flex-start;
  }
}
