.button {
  background-color: $green;
  text-decoration: none;
  line-height: 1;

  @include o-regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button--colored {
  transition: 0.3s;

  &:hover {
    background-color: $dark-green;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
}

.button--bw {
  transition: 0.3s;

  &:hover {
    background-color: #ebebeb;
    transition: 0.3s;
  }

  &:active {
    transition: 0.3s;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    margin: 0;
  }
}
