.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px 20px 26px;
  max-width: 320px;
  margin: auto;
}

.contacts__call {
  text-transform: uppercase;
  font-size: 16px;
  color: $black;
  @include o-regular;
  line-height: 1.25;
}

.contacts__address.simple-text {
  line-height: 1.43;
}

.contacts--bg {
  background-color: $bg-grey;
}
@media (min-width: $tablet-width) {
  .contacts {}

  .contacts__wrapper {
    padding: 71px 69px 72px 62px;
    max-width: 708px;
  }

  .contacts__wrapper span {
    margin-top: 14px;
    display: block;
  }

  .contacts__call {
    font-size: 20px;
    line-height: 1.25;
  }

  .contacts__address {
    text-align: right;
  }
}
@media (min-width: $desktop-width) {
  .contacts--bg {
    background-color: none;
  }

  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    background: white;
    position: absolute;
    width: 570px;
    left: 110px;
    top: 95px;
    padding: 66px 90px 59px 76px;
    box-sizing: border-box;
  }

  .contacts__call {
    max-width: 154px;
  }

  .contacts__address {
    max-width: 155px;
    text-align: left;
  }
}
