.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px 20px 26px;
}

.contacts__call {
  text-transform: uppercase;
  font-size: 16px;
  color: $black;
  @include o-regular;
  line-height: 1.25;
}

.contacts__address.simple-text {
  line-height: 1.43;
}

.contacts--bg {
  background-color: $bg-grey;
}

.contacts__wrapper br {
  display: none;
}
@media (min-width: $tablet-width) {
  .contacts {
    background-color: $bg-grey;
  }
  .contacts__wrapper {
    padding: 71px 69px 72px 62px;
  }
}
@media (min-width: $desktop-width) {
  .contacts {
    background-color: $bg-grey;
    margin: 0 -110px;
    position: relative;
  }

  .contacts__wrapper {
    background: white;
    position: absolute;
    width: 570px;
    left: 110px;
    top: 95px;
    padding: 66px 90px 59px 76px;
    box-sizing: border-box;
  }

  .contacts__wrapper br {
    display: block;
    padding-top: 16px;
  }

  .contacts__call {
    max-width: 154px;
  }

  .contacts__address {
    max-width: 155px;
  }

}
