.contacts__wrapper {
  max-width: 320px;
  margin: auto;
  position: relative;
}

.contacts__card {
  display: flex;
  justify-content: space-between;
  padding: 31px 20px 26px;
}

.contacts__call {
  text-transform: uppercase;
  font-size: 16px;
  color: $black;

  @include o-regular;
  line-height: 1.25;
  max-width: 155px;
}

.contacts__address {
  width: 157px;
}

.contacts__card span {
  display: block;
}

.contacts__address.simple-text {
  line-height: 1.43;
}

.contacts--bg {
  background-color: $bg-grey;
}

.contacts__map {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.contacts__img-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: absolute;
  overflow-y: hidden;
}

.contacts__map-wrapper {
  position: relative;
  height: 362px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 53px;
    position: absolute;
    z-index: 0;
  }
}

.contacts__map-img {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    max-width: 708px;
  }

  .contacts__map-wrapper {
    height: 400px;

    &::after {
      width: 113px;
      height: 106px;
    }
  }

  .contacts__card {
    padding: 65px 41px 57px;
  }

  .contacts__card span {
    margin-top: 14px;
  }

  .contacts__call {
    font-size: 20px;
    line-height: 1.25;
  }

  .contacts__address {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts--bg {
    background-color: none;
  }

  .contacts__map-wrapper {
    z-index: 100;
    position: relative;

    &::after {
      right: 50%;
      margin-right: -398px;
      top: 157px;
    }
  }

  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    width: 1220px;
    position: absolute;
    z-index: 150;
    left: 50%;
    margin-left: -610px;
    top: 95px;
  }

  .contacts__card {
    background: white;
    width: 570px;
    padding: 66px 90px 59px 76px;
    box-sizing: border-box;
  }

  .contacts__call {
    max-width: 154px;
  }

  .contacts__address {
    max-width: 155px;
    text-align: left;
  }
}
