.example__wrapper {
  width: 280px;
  margin: auto;
}

.example__text {
  margin-top: 0;
  margin-bottom: 27px;
  width: 266px;
}

.example__overall {
  @include o-regular;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
}

.example__header {
  margin-bottom: 33px;
}
@media (max-width: $mobile-width-only) {
  .example {
    background-color: $bg-grey;
    padding: 46px 0 38px;
  }

  .example__facts-block {
    text-align: center;
    margin-bottom: 37px;
  }
}
@media (min-width: $tablet-width) {
  .example {
    padding-top: 12px;
  }
  .example__header {
    margin-bottom: 60px;
  }

  .example__wrapper {
    width: 708px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
  }

  .example__text {
    width: 100%;
    margin-bottom: 48px;
  }

  .example__facts-block {
    display: flex;
    justify-content: space-between;
  }

  .example__overall {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 1;
    margin-top: 13px;
  }

  .example__overall span {
    margin-top: 11px;
  }

  .example__wrapper--top {
    padding: 0;
  }

  .example__bg {
    position: relative;
  }
}
@media (min-width: $tablet-width) and (max-width: 1199px) {
  .example__before-after {
    background: linear-gradient(to right, $bg-grey 50%, $bg-darker-grey 50%);
    height: 462px;
    margin-top: 192px;
  }
}
@media (min-width: $desktop-width) {
  .example {
    padding: 0;
  }
  .example__header {
    margin-bottom: 65px;
    line-height: 1;
  }

  .example__bg {
        background: linear-gradient(to right, #f2f2f2 1034px, #eaeaea 1034px);
    min-height: 462px;
  }

  .example__wrapper {
    width: 1220px;
    margin: auto;
    padding: 75px 0 67px;
    box-sizing: border-box;
  }

  .example__facts-block {
    display: inline-block;
  }

  .example__text {
    max-width: 439px;
    margin-bottom: 71px;
    margin-top: 0;
  }

  .example__before-after {
    position: absolute;
    top: -180px;
    right: 3%;
  }

  .example__overall {
    display: inline;
  }

  .example__overall span {
    display: inline;
    margin-left: 64px;
  }

  .example__wrapper--top {
    padding: 0;
  }
}
