.facts {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}

.facts__item {
  text-align: center;
  margin-bottom: 8px;
}

.facts__value {
  border: 1px solid $dark-grey;
  font-size: 24px;

  @include o-regular;
  min-width: 124px;
  text-align: center;
  line-height: 1;
  padding: 14px 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-transform: uppercase;
}

.facts__title {
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  background-color: $bg-grey;
  padding: 5px 15px;
  display: inline-block;
  position: relative;
  top: -13px;
  padding-bottom: 0;
  max-width: 57px;
}

@media (min-width: $tablet-width) {
  .facts {
    justify-content: flex-start;
  }

  .facts__title {
    padding: 5px 8px;
    background-color: white;
    font-size: 14px;
    max-width: none;
  }

  .facts__item br {
    display: none;
  }

  .facts__value {
    min-width: 162px;
    padding: 20px 29px;
    font-size: 30px;
  }

  .facts__item {
    margin: 0 42px 42px 0;
  }
}

@media (min-width: $desktop-width) {
  .facts__title {
    background-color: $bg-grey;
    padding: 2px 8px;
  }

  .facts__value {
    padding: 17px 29px 23px;
  }

  .facts {
    flex-wrap: wrap;
  }

  .facts__item {
    margin: 0 38px 38px 0;
  }
}
