.form__item-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 14px;
}

.form__item-wrapper--straight {
  flex-direction: row;
  justify-content: flex-start;
}

.form__add {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 15px 16px;
  border: 1px solid $light-grey;
  font-size: 16px;
  text-transform: uppercase;
  color: $black;
  @include o-regular;
  box-sizing: border-box;
  flex-grow: 1;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $light-black;
  @include o-regular;
  margin-right: 16px;
}

.form__radio {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.form__choose {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.form__text {
  font-size: 14px;
  text-transform: uppercase;
  color: $light-black;
  @include o-regular;
  margin-bottom: 39px;
  max-width: 226px;
}

.form {
  padding: 0 20px;
}

.form__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.form__additem {
  display: flex;
  align-items: center;
}

.form__comment {
  margin-bottom: 30px;
}

.form__additem {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 34px;
  }
}

.form__input--textarea {
  width: 100%;
}
@media (min-width: $tablet-width) {
  .form__add {
    display: flex;
    flex-wrap: wrap;
  }

  .form__basic {
    margin-bottom: 72px;
  }

  .form__wrapper--add {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__additem {
    width: 50%;
  }

  .form {
    padding: 0 70px;
    margin-bottom: 72px;
  }

  .form__choose {
    padding: 25px 26px;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    margin-bottom: 69px;
  }

  .form__wrapper--bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    margin-right: 61px;
  }

  .form__contacts {
    margin-bottom: 69px;
  }

  .form__comment {
    margin-bottom: 69px;
  }
}
@media (min-width: $desktop-width) {
  .form__add {
    justify-content: space-between;
  }

  .form__contacts {
    flex-direction: column;
  }

  .form__basic {
    width: 581px;
  }

  .form__add {
    flex-direction: column;
  }

  .form__choose {
    width: 581px;
  }

  .form__additem {
    width: 25%;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
  }

  .form__contacts {
    display: flex;
  }
}
