.goal {
  background-color: $bg-grey;
  padding: 39px 21px;
  z-index: 50;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;

  &:before {
    content: "";
    background-color: #68b738;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 24px;
    left: 21px;
  }

  &:after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
  }
}

.goal--gain {
  &:after {
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    left: 13px;
    top: 35px;
  }
}

.goal--loose {
  &:after {
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    left: 30px;
    top: 22px;
  }
}

.goal__title {
  @include o-regular;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 36px 71px;
}

.goal__header {
  display: flex;
  align-items: center;
}

.goal__show {
  @include o-regular;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 25px;
    margin-left: 12px;
  }
}

.goal__text {
  border-bottom: 1px solid $light-grey;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (min-width: $tablet-width) {
  .goal {
    width: 100%;
    padding: 81px 62px 62px 53px;
    margin-bottom: 30px;

    &:before {
      width: 200px;
      height: 200px;
      top: 92px;
      right: 62px;
      left: auto;
    }
  }

  .goal--gain {
    &:after {
      width: 268px;
      height: 113px;
      right: 28px;
      top: 135px;
      left: auto;
    }
  }

  .goal--loose {
    &:after {
      width: 141px;
      height: 193px;
      right: 92px;
      top: 80px;
      left: auto;
    }
  }

  .goal__title {
    font-size: 36px;
    margin: 0 0 26px;
  }

  .goal__text {
    max-width: 371px;
  }

  .goal__show {
    font-size: 20px;

    &:after {
      margin-left: 25px;
    }
  }
}
@media (min-width: $desktop-width) {
  .goals-block {
    display: flex;
    justify-content: space-between;
  }

  .goal {
    width: 570px;
    padding: 81px 62px 62px 53px;

    &:before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .goal--gain {
    &:after {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 34px;
    }
  }

  .goal--loose {
    &:after {
      width: 71px;
      height: 97px;
      top: 41px;
      left: 65px;
    }
  }

  .goal__text {
    max-width: 100%;
  }

  .goal__title {
    font-size: 36px;
    margin: 0 0 76px 164px;
  }
}
