.goods-add__list {
  @include list-reset;
}

.goods-add__wrap {
  width: 280px;
  margin: auto;
}

.goods-add__item {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 17px;
  margin-bottom: 9px;
}

.goods-add__title {
  @include o-regular;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.goods-add__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.goods-add__text {
  color: $black;
  font-size: 14px;
  line-height: 1;
}

.goods-add__present {
  margin: 35px 0;
}

.goods-add__button {
  padding: 12px 8px;
}

@media (max-width: $mobile-width-only) {
  .goods-add__item {
    &:first-child {
      border-top: 1px solid $light-grey;
      padding-top: 14px;
    }
  }
}

@media (min-width: $tablet-width) {
  .goods-add__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-add__wrap {
    width: 708px;
    margin: auto;
  }

  .goods-add {
    margin-bottom: 76px;
  }

  .goods-add__button {
    width: 100%;
    font-size: 16px;
    padding: 12px 8px;
    line-height: 1;
  }

  .goods-add__title {
    font-size: 20px;
    margin-bottom: 21px;
  }

  .goods-add__text {
    font-size: 16px;
  }

  .goods-add__info {
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .goods-add__present {
    margin: 71px 0;
  }

  .goods-add__item {
    border: 1px solid #e6e6e6;
    padding: 27px 38px;
    box-sizing: border-box;
    margin-bottom: -1px;
  }

  .goods-add__btn-wrap {
    width: 100%;
  }

  .goods-add__text--price {
    margin-left: 52px;
  }
}

@media (min-width: $desktop-width) {
  .goods-add__item {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 16px 0;
    margin: 0;
  }

  .goods-add__wrap {
    width: 1220px;
    margin: auto;
  }

  .goods-add {
    margin-bottom: 86px;
  }

  .goods-add__list {
    width: 895px;
    margin-right: 80px;
    border-collapse: collapse;
  }

  .goods-add__title {
    margin: 0;
    width: 112%;
  }

  .goods-add__wrapper {
    display: flex;
  }

  .goods-add__info {
    margin: 0 39px 0 0;
    width: 100%;
  }

  .goods-add__text {
    margin: 0;
  }

  .goods-add__button {
    min-width: 245px;
  }

  .goods-add__text--price {
    text-align: left;
    min-width: 44  px;
  }

  .goods-add__btn-wrap {
    width: 245px;
  }

  .goods-add__present {
    margin: 0;
  }

  .goods-add__item:first-child {
    border-top: 1px solid #e6e6e6;
  }
}
