.goods-add {
  padding: 0 20px;
}

.goods-add__list {
  @include list-reset;
}

.goods-add__item {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 17px;
  margin-bottom: 14px;

  &:first-child {
    border-top: 1px solid $light-grey;
    padding-top: 14px;
  }
}

.goods-add__title {
  @include o-regular;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.goods-add__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.goods-add__text {
  color: $black;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: $tablet-width) {
  .goods-add__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .goods-add__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .goods-add__item {
    justify-content: space-between;
    align-items: center;
  }

  .goods-add__list {
    width: 895px;
    margin-right: 80px;
  }

  .goods-add__title {
    margin: 0;
  }

  .goods-add__wrapper {
    display: flex;
  }

  .goods-add__info {
    margin: 0;
  }

  .goods-add__text {
    margin: 0;
  }
}
