.heading {
  font-size: 36px;
  color: $black;

  @include o-regular;
  margin: 0;
}

.heading--line {
  font-size: 24px;
  display: inline-block;
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    z-index: -1;
    left: -20px;
    right: -20px;
    top: 0;
    bottom: 0;
    background-color: white;
    content: "";
  }
}

@media (max-width: $mobile-width-only) {
  .heading--line--big {
    line-height: 1;

    &::after {
      top: 30%;
    }
  }

  .heading--line--big span {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .heading {
    font-size: 60px;
    color: $black;

    @include o-regular;
  }

  .heading--line {
    font-size: 36px;
    margin-left: 37px;

    &::before {
      left: -40px;
      right: -40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .heading {
    font-size: 60px;
    color: $black;

    @include o-regular;
  }

  .heading--line {
    font-size: 36px;
    margin-left: 0;
  }
}
