.main-nav__toggle {
  width: 25px;
  height: 19px;
  border: none;
  position: absolute;
  right: 20px;
  top: 23px;
  padding: 0;
  background: linear-gradient(to top, white 8px, $black 8px, $black 10px, white 10px, white 100%);
  transition: 0.3s;

  &::before {
    content: "";
    background-color: $black;
    height: 2px;
    display: block;
    width: 25px;
    transition: 0.3s;
    position: absolute;
    top: 0;
  }

  &::after {
    content: "";
    background-color: $black;
    height: 2px;
    display: block;
    width: 25px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    width: 100%;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--opened .site-list {
    display: block;
  }

  .main-nav--nojs .site-list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle--active {
    background: none;

    &::before {
      transition: 0.3s;
      transform: translateY(8px) rotate(45deg);
    }

    &::after {
      transition: 0.3s;
      transform: translateY(-9px) rotate(-45deg);
    }

    span {
      opacity: 0;
      transition: 0.2s;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    z-index: 50;
  }

  .main-nav__toggle {
    display: none;
  }
}
