.map {
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 53px;
    z-index: -50;
  }


}
@media (min-width: $tablet-width) {
  .map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    &:after {
      width: 113px;
      height: 106px;
    }
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}
@media (min-width: $desktop-width) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.png");

    &:after {
      position: absolute;
      right: 258px;
    }
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
