.page-header {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  z-index: 50;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.3s;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding: 11px 20px 15px;
}
@media (max-width: $mobile-width-only) {
  .page-header__wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  .page-header__logo-img {}
}
@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px;
  }

  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    border-bottom: none;
  }

  .page-header__wrapper {
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
    width: 1220px;
    margin: 53px auto auto;
  }

  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
  }

  .page-header--index {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
