.page-header {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.page-header__logo {
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  width: 191px;
  height: 39px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding: 11px 20px 15px;
}
@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    padding: 24px 30px;
  }

  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    border-bottom: none;
  }

  .page-header__wrapper {
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
  }

  .page-header--index {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 53px 109px;
  }
}
