.page-main {
  min-width: 320px;
  margin: auto;
  padding-top: 24px;
  display: block;
  overflow-x: hidden;
}

.page-main__wrap {
  width: 280px;
  margin: auto;
}

.page-main__heading {
  margin-bottom: 35px;
}

.page-main--index {
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: 768px;
    padding-top: 29px;
  }

  .page-main__wrap {
    width: 708px;
    margin: auto;
  }

  .page-main__heading {
    margin-bottom: 35px;
  }

  .page-main__heading--form {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    min-width: 1200px;
    padding-top: 68px;
  }

  .page-main__wrap {
    width: 1220px;
    margin: auto;
  }

  .page-main__heading {
    margin-bottom: 43px;
  }

  .page-main--index {
    padding: 0;
  }

  .page-main__heading--form {
    margin-bottom: 53px;
  }
}
