.page-header {
  display: flex;
  flex-direction: column-reverse;
  padding: 11px 20px 15px;
}

.page-header__logo {
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  width: 191px;
  height: 39px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
  background-color: inherit;
  border: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__toggle {
    display: none;
  }
  .page-header__logo {
    background-image: url("../img/logo-tablet.svg");
    width: 174px;
    height: 59px;
  }
}
@media (min-width: $desktop-width) {
  .page-header__logo {
    background-image: url("../img/logo-desktop.svg");
    width: 203px;
    height: 60px;
  }
}
