.present {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 65px 60px 43px;
  box-sizing: border-box;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }
}

.present__icon {
  width: 56px;
  height: 61px;
  fill: white;
}

.present__text {
  color: white;
  font-size: 16px;
  line-height: 1.25;
  max-width: 159px;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .present {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    height: 200px;
    width: 100%;
  }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .present {
    flex-direction: row;
    padding: 34px 125px 40px 90px;
  }

  .present__text {
    text-align: left;
  }
}
@media (min-width: $desktop-width) {
  .present {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
    padding: 65px 49px 43px;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }
  }
}
