.site-list {
  @include list-reset;
}

.site-list a {
  @include a-reset;
  @include o-medium;
  font-size: 20px;
  color: $black;
  text-transform: uppercase;
  border-bottom: 1px solid $light-grey;
  display: block;
  padding: 24px;
  text-align: center;
  line-height: 1;
}

.site-list__item:not(.site-list__item--active) a {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }

  &:focus {
    transition: 0.3s;
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list a {
    @include o-regular;
    font-size: 18px;
    border: none;
    padding: 12px 0;
    margin: 0 18px;
  }

  .site-list__item--active a {
    border-bottom: 2px solid $green;
  }

  .site-list li {
    &:last-child a {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
  }

  .site-list__item--active--index a {
    border-bottom: 2px solid white;
  }

  .site-list a {
    padding: 22px 0 11px;
    font-size: 20px;
  }
}
