//Cat-Energy — Colors
$green: #68b738;
$dark-green: #5eaa2f;
$greyish-brown: #444444;
$black: #111111;
$light-black: #222222;
$bg-grey: #f2f2f2;
$bg-darker-grey: #eaeaea;
$dark-grey: #cdcdcd;
$light-grey: #e6e6e6;
$icon-grey: #666666;
$red: #ff8282;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
