//Cat-Energy — Colors

$green: #68b738;
$greyish-brown: #444444;
$black: #111111;
$bg-grey: #f2f2f2;
$dark-grey: #cdcdcd;

//Cat-Energy — Colors

$tablet-width: 768px;
$desktop-width: 1200px;

//Cat-Energy — Fonts

$regular: "Oswald-Regular";
$medium: "Oswald-Medium";

//Cat-Energy — Fonts
